/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
	padding: 0px;
	border:0px;
	margin:0px;
	
	font: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;

	background: transparent; 
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
}

button, input[type="submit"] {
    cursor: pointer;
}


.header {
    background-color: red;
    color: #fff;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 900px;
}

.header-list {
    display: flex;
}

.header-list > li {
    border-left: 1px solid white;
}

.header-list > li:hover {
  background: #000;  
}

.header-logo {
    border-right: 1px solid white;
}

.header-logo:hover {
  background: #000;
}

/* PART 2 */
.header-list > li {
    position: relative;
}

.header-notification {
    position: absolute;
}