/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
	padding: 0px;
	border:0px;
	margin:0px;
	
	font: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;

	background: transparent; 
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
}

button, input[type="submit"] {
    cursor: pointer;
}


/* PART 1 NavSetup*/
body {
    background: #ccc;
}

.header {
    background-color: red;
    color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 1;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 900px;
}

.header-list {
    display: flex;
}

.header-list > li {
    border-left: 1px solid white;
}

.header-list > li:hover {
  background: #000;  
}

.header-logo {
    border-right: 1px solid white;
}

.header-logo:hover {
  background: #000;
}

/* PART 2 NavContent*/
.badge {
    background-color: #000;
    padding: 1px 5px;
    border-radius: 50%;
}

li:hover .badge {
    background-color: red;
}

.header-list > li {
    position: relative;
}

.header-notification {
    position: absolute;
    display: none;
    white-space: nowrap;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.header-notification > li {
    color: #000;
    border-top: 1px solid #ccc; 
    padding: 5px 7px;
}

.header-notification > li:hover {
      background: #eee; 
}

li:hover .header-notification {
  display: block;
}

/* PART 3 mainPageSetup*/

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background:  #fff;;
    width: 900px;
    border: 1px solid #ccc;
    border-top: 0;
}

.content-main {
    min-height: 200px;    
    padding: 20px;
    width: 600px;
}

.content-sidebar {
    min-height: 200px;
    padding: 20px;
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 19px;
}

/* PART 4 */

.footer {
    display: flex;
    background: #fff;
    margin: 0 auto;
    width: 900px;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-top: 0;
    color: #aaa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-copy {
    display: block;
    padding: 20px;
}

.footer-links {
    display: flex;
    padding: 20px;
}

.footer-links > li {
    padding: 0 0 0 20px;
}

.footer-links > li:hover {
    color: #000;
}

/* PART 5 displayBelowNav*/

.content-header {
    height: 200px;
    width: 100%;
    background: url("../images/cats.jpg");
    background-size: cover;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.content-header > h1 {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 240px;
    font-size: 36px;
    font-weight: 300;
    text-shadow: #000 0 0 10px;
}

.content-header-add-frnd {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background:white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.content-header-add-frnd:hover {
    background: #eee;
}

/* PART 6 sidebarConfig */

.profile-pic {
    display: block;
    margin-top: -150px;
    position: relative;
    border-radius: 5px;
    border: 1px solid black;
}

.profile-info {
  margin: 20px 0;
}

.profile-info > h2 {
    font-weight: 700;
    font-size: 24px;
}

.profile-info > p {
  margin: 20px 0;
}

.profile-nav {
  margin: 20px 0;
}

.profile-nav > li {
  border-bottom: 1px solid #ccc;
}

.profile-nav > li:first-child {
    border-top: 1px solid #ccc;
}

.profile-nav a {
    display: block;
    padding: 5px;
    font-weight: 700;
}

.profile-nav a:hover {
  background: #eee;
}

/* PART 7 labelOverPic*/

.profile-pic {
  overflow: hidden;
}

.online {
    background: #0c0;
    position: absolute;
    display: block;
    color: #fff;
    padding: 5px 30px;
    box-shadow: 0 1px 0 0 #070;
    top: -5px;
    left: -5px;
    transform: rotate(-45deg) translateX(-25%);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Part 8 AdvSidebarSetup */

.profile-friends {
    display: flex;
    flex-wrap: wrap;
}

.profile-friends > li {
    width: 60px;
    margin: 3px;
}

.thumb {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

/* .thumb > img {
    border-radius: 5px;    
} */

.thumb:after {
  content: attr(title);
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}

.thumb:before {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  border-top: 5px solid #000;
  border-bottom: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.thumb:hover:before, .thumb:hover:after {
    display: block;
}

/* Part 9 body > main-content */

.form {
    display: flex;
    /* margin: 0 0 20px 0; */
}

.form-pic {
    width: 60px;
    height: 56px;
    display: block;
    border-radius: 5px;
    border: 1px solid black;    
}

.form-fieldset {
    margin: 0 0 0 20px;
    padding: 20px;
    width: 515px;
    background: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input {
  margin: 0 0 20px 0;
}

.input > label {
    display: block;
    padding: 0 0 5px 0;
    font-weight: 700;
}

.input > input,
.input > textarea {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 40px);
  border-radius: 5px;
}

.input > input:focus,
.input > textarea:focus {
  border-color: #0c0;
}

.input > textarea {
  height: 120px;
}

.submit > button {
  padding: 10px 20px;
  color: #fff;
  background: #0c0;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #070;
}

.submit > button:hover {
  background: #0a0;
  box-shadow: none;
}

.button-alternative strong {
    font-weight: 700;
}

.button-alternative strong:hover {
  color: #f00;
}

/* Part 10 body > main-content POSTS */

.post {
    display: flex;
    border-top: 1px solid #ccc;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
}

.post-body {
   margin: 0 0 0 20px;
    width: 540px; 
}


.post-body > h2 {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 20px 0;
}

.post-body > p {
  margin: 0 0 20px 0;
}

.post-pic {
    top: -20px;
    width: 60px;
    height: 58px;
    display: block;
    border-radius: 5px;
    border: 1px solid black; 
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.post-footer-info {
  display: flex;
  color: #999;
  font-size: 14px;
}

.post-footer-info > li:after {
    content: "·";
    padding: 0 5px;
}

.post-footer-info > li:last-child:after {
  content: none;
}

.post-footer-tools {
  display: flex;
}

.post-footer-tools > li {
  margin: 0 0 0 10px;
}


/* Part 11 icons2replace buttons */

[class*="icon-"] {
  display: inline-block;
  background-image: url(".././images/sprite.png");
  background-size: 25px 250px;
  vertical-align: bottom;
  width: 25px;
  padding-top: 25px;
}

[class*="icon-small"] {
  width: 20px;
  padding-top: 20px;
}

.icon-comment {
  background-position: 0 0;
}

.icon-comment:hover {
  background-position: 0 -25px;
}

.icon-reblog {
  background-position: 0 -100px;
}

.icon-reblog:hover {
  background-position: 0 -125px;
}

.icon-favorite {
  background-position: 0 -50px;
}

.icon-favorite:hover {
  background-position: 0 -75px;
}

.icon-small-wall {
  background-position: 0 -225px;
}

.icon-small-about {
  background-position: 0 -175px;
}

.icon-small-friends {
  background-position: 0 -150px;
}

.icon-small-photos {
  background-position: 0 -200px;
}