/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
	padding: 0px;
	border:0px;
	margin:0px;
	
	font: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;

	background: transparent; 
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
}

button, input[type="submit"] {
    cursor: pointer;
}


/* This portion is setting up a typical nav (nested within headerT)*/
.header {
    background-color: red;
    color: #fff;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 900px;
}

.header-list {
    display: flex;
}

.header-list > li {
    border-left: 1px solid white;
}

.header-list > li:hover {
  background: #000;  
}

.header-logo {
    border-right: 1px solid white;
}

.header-logo:hover {
  background: #000;
}

/* PART 2 */
.badge {
    background-color: #000;
    padding: 1px 5px;
    border-radius: 50%;
}

li:hover .badge {
    background-color: red;
}

.header-list > li {
    position: relative;
}

.header-notification {
    position: absolute;
    display: none;
    white-space: nowrap;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.header-notification > li {
    color: #000;
    border-top: 1px solid #ccc; 
    padding: 5px 7px;
}

.header-notification > li:hover {
      background: #eee; 
}

li:hover .header-notification {
  display: block;
}

/* PART 3 */

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background:  #fff;;
    width: 900px;
    border: 1px solid #ccc;
    border-top: 0;
}

.content-main {
    min-height: 200px;    
    padding: 20px;
    width: 600px;
}

.content-sidebar {
    min-height: 200px;
    padding: 20px;
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 19px;
}

/* PART 4 */

.footer {
    display: flex;
    margin: 0 auto;
    width: 900px;
    justify-content: space-between;
    border: 1px solid #ccc;
    color: #aaa;
}

.footer-copy {
    display: block;
    padding: 20px;
}

.footer-links {
    display: flex;
    padding: 20px;
}

.footer-links > li {
    padding: 0 0 0 20px;
}

.footer-links > li:hover {
    color: #000;
}