<h2>New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST" data-tweets-ul="<%= tweets_ul %>">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>
  <br>
  
  <strong class="chars-left"></strong>

  <button class="mention-btn">Mention/s</button>
  <ul class="mention-helper"></ul>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
