/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
	padding: 0px;
	border:0px;
	margin:0px;
	
	font: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;

    background: transparent; 
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
}

button, input[type="submit"] {
    cursor: pointer;
}


/* My custom mods from here*/
body {
    background-color: lightseagreen;
}


.header {
    background: #fff;
    color:black;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 1;
    height: 50px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
    width: 900px;
}

.header-list {
    display: flex;
    padding: 15px 0;
}

.header-list > a:hover {
    color: blue;
}


/* Below Header/Nav */
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background:  #fff;
    width: 900px;
    border: 1px solid #ccc;
    border-top: 0;
}

.content-main {
    min-height: 200px;    
    padding: 20px;
    width: 600px;
}

.content-sidebar {
    min-height: 200px;
    padding: 20px;
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 19px;
}


/* Button effects */
.content > a:hover {
    color: blue;
}

.content-thread > a:hover {
    color: blue;
}

.content-post-links {
    list-style: disc;
}

.content-post-links > li:hover {
    color: blue;
}

.button {
  padding: 10px 20px;
  color: #fff;
  background: #0c0;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #070;
}

.button.enter {
    margin-right: 7px; 
} 

.button:hover {
  background: #0a0;
  box-shadow: none;
}

.thread-link:hover {
    color: blue;
}


/* content-sidebar */
.thread-link {
    font-weight: 700;
    font-size: 16px;
}

/* content-main FOR LOG-IN FORM && CREATE_USR */
.form-fieldset {
    margin: 0 0 0 20px;
    padding: 20px;
    width:90%;
    background: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input {
    margin: 0 0 20px 0;
}

.input > input {
    display: block;
    padding: 3px 0 0 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc; 
}


/* modal */
.modal {
    display: none;
}

.modal.on {
    display: block;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.form-fieldset.create {
  position: absolute;
  top: 150px;
  left: 35%;
  width: 360px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-screen {
    z-index: 2;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* content-main FOR SUB */

/* .content-thread {
    border: 1px solid black;
} */

.content-thread > h2 {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    padding: 0 0 5px 0;
    justify-content: center;
}

.content-thread > p {
    display: flex;
    justify-content: center;
}

.content-post-links > li {
    list-style: none;
}

.content-post-links > p {
    font-weight: 700;
    font-size: 20px;
    padding: 0 0 5px 0;
}


/* content-main FOR POST */
.content-post > h2 {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    padding: 0 0 5px 0;
    justify-content: center;
}

.content-post > p {
    display: flex;
    justify-content: center;
}

.content-post > ul > cmt {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}