/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
	padding: 0px;
	border:0px;
	margin:0px;
	
	font: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;

    background: transparent; 
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

body {
    background-color: lightseagreen;
}

.header {
    background: #fff;
    color:black;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 1;
    height: 50px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
    width: 900px;
}

.header-list {
    display: flex;
    padding: 15px 0;
}


.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background:  #fff;
    width: 900px;
    border: 1px solid #ccc;
    border-top: 0;
}

.content-main {
    min-height: 200px;    
    padding: 20px;
    width: 600px;
}

.content-sidebar {
    min-height: 200px;
    padding: 20px;
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 19px;
}
                            