<h2>Let get Admitted</h2>

<div>
    <form action="<% users_url %>" method="POST">
        <label>
            Name
            <input type="text" name="user[name]"/>
        </label>
        <label>
            Email
            <input type="text" name="user[email]"/>
        </label>
            <br><br>    
        <label>
            Password
            <input type="text" name="user[password]"/>
        </label>    
            <br><br>
        <label>
            <input type="submit"/>
        </label>
    </form>
</div>