#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

p {
  background-color: #7fdbff;
}


body div {
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid black;
}

body div[class="image-1-container"] {
  display: block;
}

.for_testing {
    min-height: 10px;
}

.image-1-container {
    height: 600px;
    background: slateblue;
}

.image-1-container img:first-child {
  width: 100%;
}

.image-2-container {
    height: 600px;
    background: yellow;
}

.image-2-container img {
    width: 100%;
}