<h1>Search!</h1>

<nav class="users-search" >

  <form class="simple-form">
      <label for='user-search-input'>
      <input class="user-search-input" type="text" name="username" placeholder='Enter a username'>
      Username</label>
  </form>

    <h4>Results</h4>
    <ul class="users"></ul>
  
</nav>