/* PHASE 1: Header */

body {
  font-family: sans-serif;
  font-size: 21px;
  font-weight: bold;
  background: #eee;
}

.header {
  background: red;
  border-bottom: 5px solid gold;
  color: white;
}

.header a {
  display: block;
  padding: 15px 15px;
}

.header-nav {
  margin: auto;
  width: 1000px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}