
.content {
    margin: auto;
    width: 1000px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.content-sidebar {
float: left;
width: 200px;
padding: 10px;
}

.content-main {
float: left;
width: 600px;
padding: 10px;
}

.content h1 {
font-weight: 700;
font-size: 30px;
margin: 0 0 20px 0;
}

.content p {
font-weight: 400;
}