<section class-"subs-sec">
    <header>
        <h1>Enjoy Our Threads</h1>
    </header>

    <ul>
        <% @subs.each do |sub| %>
            <li>
                <a href="<%= sub_url(sub.id) %>"><%= sub.title %></a>
                <% if current_user.id == sub.moderator %>
                    <%= link_to 'Edit-Sub', edit_sub_url(sub.id) %>
                <% end %>
            </li>
        <% end %>
    </ul>
</section>