<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <h1>Welcome to sabits_cats.com, <%= @usr.user_name %></h1>
  <br>

    <p>
      You have successfully signed up to sabits_cats.com,
      your username is: <%= @usr.user_name %>.<br />
    </p>

    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>

</html>