/* PUT FLUID GRID CODE HERE */

.col {
  box-sizing: border-box;
  float: left;
}

.col-1-3 {
  width: 33.33%;
  margin-right: 10px;
}

.col-2-3 {
  width: 60.66%;
}

.col:last-of-type {
  padding: 0;
}

footer {
  display: block;
  clear: both;
}